<script>
    // Create a Set
    const letters = new Set(["apples", {name:500}]);
    
    // List all Elements
    let text = "";
    for (const x of letters.values()) {
      text += x + "<br>";
    }
    
    document.getElementById("demo").innerHTML = text;
    </script>





<script>
    // Create a Map
    const fruits = [...new Map([
      ["apples", 500],
      ["1", 300],
       [1, 300],
      ["oranges", 200]
    ])];
    
    const fruitsEyneAdam = [
      ["apples", 500],
      ["bananas", 300],
      ["oranges", 200]
    ];
    
    
    let text = "";
    for (const x of fruits.entries()) {
    console.log(x)
      text += x + "<br>";
    }
    
    document.getElementById("demo").innerHTML = fruits;
    document.getElementById("eyneadam").innerHTML = fruitsEyneAdam;
    
    </script>